.footer-bottom-section {
    position: absolute;
    top: 6000px;
    width: 100%;
    height: 211px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .footer-bottom-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #303030;
    max-width: 1200px;
    margin-bottom: 30px;
  }
  
  .footer-bottom-image {
    margin-top: 20px;
    width: 295.76px;
    height: 32px;
  }


